<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
    .table-container {
        padding: 15px 20px;
    }
    .title {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
    }
</style>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create user</a>
    </div>
    <div class="w3-container table-container">
        <div class="title">List Users</div>
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-light-grey">
              <th>ID</th>
              <th>Name</th>
              <th>Mail</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>

          <% listUsers.forEach(function(user) { %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.address %></td>
              <td>
                <a href="/update/<%= user.id %>">Edit</a>
                <form action="/delete-user/<%= user.id %>" method="POST">        
                  <button>Delete</button>
                </form>
              </td>
            </tr>
          <% }); %>

        </table>
      </div>
</body>
</html>